@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "react-responsive-carousel/lib/styles/carousel.min.css";


* {
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Bebas Neue", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(37, 37, 37);
}

code {
  font-family: "Bebas Neue", cursive;
}
